<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<!-- Top Navigation Bar -->
   <nav class="navbar">
     <ul>
       {% for link in site.top_panel_links %}
         <li><a href="{{ link.url | relative_url }}">{{ link.name }}</a></li>
       {% endfor %}
     </ul>
   </nav>

   <!-- Main Container -->
   <div class="container">
 
     <!-- Main Content -->
     <div class="main-content">
       {{ content }}
     </div>
   </div>

</body>
</html>
