<!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <title>{{ page.title }} | {{ site.title }}</title>
   <link rel="stylesheet" href="/assets/style.css">
 </head>

  <head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
 <body>

  <div class="top-panel">
      <nav>
        <ul>
          {% for link in site.top_panel_links %}
            <li><a href="{{ link.url | relative_url }}">{{ link.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
 
     <!-- Main Content -->
     <div class="main-content">
       {{ content }}
     </div>


  <ul>
  <li><a href="#index">News</a></li>
  <li><a href="#research">Contact</a></li>
  <li><a href="#cv">About</a></li>
</ul>
 </body>
 </html>
